@import 'vars';
@import 'global';
@import 'fonts';
//start-header
.header {
    background-color: #fff;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
    }
}

.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
}

.header__btn-login {
    background-color: $green;
}

.header__btn-registr,
.header__btn-logout {
    background-color: $red;
    margin-left: 7px;
}

.header__menu {
    background-color: $bg;
}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
}

.menu__list {
    li {
        display: inline-block;
        &+li {
            margin-left: 30px;
        }
    }
    a {
        font-size: 14px;
        line-height: 30px;
        color: #ffffff;
    }
}

.header__box {
    display: flex;
    align-items: center;
}

.header__btn-login--off {
    display: none;
}

.header__btn-logout {
    display: none;
    &.header__btn-login--on {
        display: block;
    }
}

.header__circle {
    display: none;
    &.active {
        display: block;
    }
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 14px;
        color: #a0a0a0;
        transform: translate(-50%, -50%);
    }
    span {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        right: -7px;
        top: -6px;
        color: #fff;
        font-size: 11px;
    }
}

.notification {
    span {
        background-color: $yellow
    }
}

.message {
    span {
        background-color: $tomato;
    }
}

.basket {
    margin-right: 20px;
    span {
        background-color: $green;
    }
}

.user__box,
.basket__box,
.notification__box,
.message__box {
    height: 90px;
    margin-top: 42px;
    &:hover {
        .user__menu {
            height: auto;
            border-width: 1px;
            padding: 20px;
            overflow: auto;
        }
    }
    li a:hover {
        color: #13181a;
        cursor: pointer;
    }
    position: relative;
}

.circle__menu {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 69px;
    border-top: 0px solid #e0e0e0;
    top: 62px;
    right: 0;
    z-index: 2;
}

.notification__menu,
.message__menu {
    .circle__images {
        margin-right: 20px;
        border-radius: 50%;
        width: 48px;
        height: 48px;
    }
    .circle__info {
        line-height: 18px;
    }
}

.basket__box,
.notification__box,
.message__box {
    margin-top: 55px;
    margin-left: 15px;
    border-width: 1px;
    &:hover {
        .header__circle::before {
            color: $bg;
        }
        .circle__menu {
            overflow: hidden;
            height: auto;
            border-width: 1px;
        }
        .circle__item {
            padding: 23px;
        }
    }
}

.circle__item {
    background-color: #fff;
    padding: 0 23px;
    border: 0px solid #e0e0e0;
    border-top: none;
    display: flex;
    transition: all .5s;
    align-items: center;
    width: 270px;
    position: relative;
    &::before {
        position: absolute;
        top: 27px;
        right: 28px;
        color: #b0bec5;
        font-size: 16px;
    }
}

.circle__images {
    margin-right: 15px;
}

.circle__info {
    &-name {
        color: #263238;
        font-size: 15px;
        @include f500;
        cursor: pointer;
    }
    &-price {
        color: #000000;
        font-size: 16px;
        @include f500;
    }
    &-date {
        color: #707070;
        font-size: 10px;
    }
    &-thema {
        color: #84b743;
        font-size: 12px;
        line-height: 26px;
    }
}

.basket__summ {
    padding: 16px 14px 12px;
    width: 270px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-top: none;
}

.basket__title {
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 22px;
    font-size: 16px;
    @include f700;
    margin-bottom: 15px;
    color: $bg;
}

.basket__btn {
    @include f700;
    color: #fff;
    font-size: 14px;
    padding: 12px 5px;
    background-color: $green;
    text-align: center;
    width: 105px;
    &.basket__btn-checkout {
        width: 123px;
        margin-left: 6px;
        background-color: $red;
    }
}

.user {
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before {
        position: absolute;
        content: "\f107";
        font-family: 'icomoon';
        color: #707070;
        top: -2px;
        right: 0;
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__info {
        font-size: 14px;
    }
    &__images {
        margin-right: 15px;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
    }
    &__name {
        @include f500;
        color: #222;
        line-height: 22px;
    }
    &__money {
        color: $green;
        @include f700;
        line-height: 24px;
    }
}

.user__menu {
    overflow: hidden;
    position: absolute;
    padding: 0 20px;
    transition: all .3s;
    height: 0;
    a {
        margin-bottom: 15px;
        font-size: 12px;
        color: #546e7a;
    }
    width: 158px;
    border: 0px solid #cccccc;
    background-color: #ffffff;
    top: 69px;
    left: 20px;
}

.icons-color:before {
    color: $tomato;
}

.header__btn-menu,
.menu__btn {
    display: none;
}

//end-header
//start-search
.search {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 533px;
    &.page-search {
        min-height: 230px;
        .search__inner {
            padding: 55px 0 70px;
            &-text {
                margin-bottom: 20px;
            }
        }
    }
}

.search__inner {
    padding: 155px 0px 100px;
    text-align: center;
    color: #ffffff;
    &-title {
        margin-bottom: 10px;
        font-size: 48px;
        @include f700;
        line-height: 72px;
    }
    &-text {
        margin-bottom: 50px;
        font-size: 20px;
        @include f500;
        line-height: 30px;
    }
    &-form {
        max-width: 670px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        input {
            border: none;
            display: block;
            width: 100%;
            height: 56px;
            font-size: 14px;
            @include f500;
            border-radius: 4px;
            padding: 0px 60px 0 25px;
            box-shadow: 0.5px 0.866px 10px rgba(124, 178, 64, 0.75);
            &::placeholder {
                color: #90a4ae;
                @include f500;
            }
        }
        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 17px;
            width: 28px;
            height: 25px;
            cursor: pointer;
            outline: none;
        }
    }
}

//end-search
//start-products
.products {
    padding: 110px 0;
    background-color: $grey;
}

.products__title {
    color: $bg;
    font-family: Roboto;
    font-size: 36px;
    @include f700;
    line-height: 60px;
}

.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;
    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        &+button {
            margin-left: 5px;
        }
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}

.product__item {
    max-width: 400px;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        background-position: center center;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        align-items: center;
        border-bottom: 1px solid#e7ecf2;
    }
    &-name {
        max-width: 310px;
    }
    &-title {
        font-size: 18px;
        @include f500;
        color: $bg;
        display: block;
    }
    &-category {
        display: block;
        color: $green;
        font-family: Roboto;
        font-size: 14px;
        @include f500;
    }
    &-price {
        @include f700;
        color: $bg;
        font-size: 20px;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        min-height: 70px;
        align-items: center;
        padding: 10px 30px;
    }
    &-author {
        display: flex;
        align-items: center;
        max-width: 250px;
        .avatar {
            font-size: 14px;
            @include f500;
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 13px;
        }
        span {
            font-size: 14px;
            @include f500;
        }
    }
    &-star {
        span {
            color: $bg;
        }
    }
}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__bottom-btn {
    text-align: center;
    button {
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
        padding: 20px 30px;
        cursor: pointer;
        color: $bg;
        border: none;
        background-color: #ffffff;
        margin: 45px 5px 0;
        box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
    }
}

// end-products
//start slider-products
.product-slider {
    padding: 110px 0px 120px;
    .slick-dots {
        text-align: center;
        margin-top: 50px;
        li {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            &.slick-active {
                button {
                    background-color: #8bc34a;
                }
            }
            button {
                cursor: pointer;
                font-size: 0;
                width: 19px;
                height: 19px;
                background-color: #e8e8e8;
                border-radius: 50%;
                border: none;
                outline: none;
            }
        }
    }
}

//end slider-products
//start adv
.advantages {
    background-color: $bg;
    padding: 110px 0;
}

.advantages__title {
    color: #fff;
    margin-bottom: 83px;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    min-width: 370px;
    text-align: center;
    padding: 0 15px;
    &:hover {
        .advantages__item-img {
            background-color: $green;
            transition: all .3s;
        }
        .advantages__item-title {
            color: $green;
            transition: all .3s;
        }
        .advantages__item-img {
            path {
                fill: #fff;
                transition: all .3s;
            }
        }
    }
    &-img {
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
    }
    &-title {
        margin-bottom: 25px;
        color: #fff;
        @include f500;
        font-size: 24px;
    }
    &-text {
        font-size: 15px;
    }
}

.icosvg-1 {
    svg {
        width: 50px;
    }
}

.icosvg-2 {
    svg {
        width: 70px;
    }
}

.icosvg-3 {
    svg {
        margin-top: 10px;
        width: 86px;
    }
}

//end-adv
//start author
.author {
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    min-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__box {
        max-width: 650px;
        min-height: 215px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green;
    }
    &__title {
        margin-right: 45px;
        max-width: 270px;
        color: #ffffff;
        font-size: 30px;
        line-height: 36px;
        span {
            @include f700;
        }
    }
    &__link {
        color: #263238;
        font-size: 18px;
        padding: 14px 40px;
        font-weight: 400;
        line-height: 36px;
        background-color: #fff;
    }
}

//end author
//start tutorial
.tutorial {
    padding: 60px 0px 120px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 370px;
        width: 100%;
    }
}

.tutorial__item {
    background-color: #f8f8f8;
    &-img {
        min-height: 270px;
    }
    &-title {
        padding: 30px 10px;
        font-size: 24px;
        @include f700;
        text-align: center;
    }
}

//end tutorial
//start footer
.footer {
    background-color: $bg;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }
}

.footer__copy {
    border-top: 1px solid #424d53;
}

.footer__copy-text {
    font-size: 15px;
    color: #919699;
    padding: 25px 0px;
    text-align: center;
}

.footer__col {
    max-width: 270px;
    width: 100%;
    &-title {
        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #fff;
        padding-bottom: 22px;
        margin-bottom: 30px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            bottom: 0;
            height: 3px;
            background-color: $green;
            width: 51px;
        }
    }
    &-text {
        color: #b7c3c8;
        margin-bottom: 30px;
    }
}

.footer__col-menu {
    min-width: 220px;
}

.footer__info {
    margin-top: 18px;
    @include f500;
    color: #fff;
    padding-left: 30px;
    position: relative;
    &::before {
        content: "\f041";
        font-family: icomoon;
        color: $green;
        font-size: 18px;
        position: absolute;
        left: 0;
    }
    &-phone {
        &::before {
            content: "\f095";
        }
    }
}

.footer__col-list {
    a {
        margin-bottom: 15px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;
        &::before {
            content: "\f105";
            font-family: icomoon;
            color: $green;
            font-size: 18px;
            position: absolute;
            left: 0;
        }
    }
}

.footer__social-link {
    margin-bottom: 33px;
    li {
        display: inline-block;
        &+li {
            margin-left: 7px;
        }
    }
    a {
        width: 28px;
        height: 28px;
        background-image: url(../images/css_sprites.png);
        &+a {
            margin-left: 7px;
        }
    }
}

.link-twitter {
    background-position: -28px 0;
}

.link-pinterest {
    background-position: 0 -28px;
}

.link-youtube {
    background-position: -28px -28px;
}

.link-lindl {
    background-position: -56px -0;
}

.footer__form-title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
}

.footer__form {
    position: relative;
    input {
        border: none;
        width: 100%;
        display: block;
        height: 40px;
        color: #fff;
        background-color: #2f3c43;
        padding-left: 15px;
        padding-right: 50px;
        &::placeholder {
            font-size: 14px;
            color: #697378;
        }
    }
    button {
        position: absolute;
        border: none;
        background-color: $green;
        width: 43px;
        height: 40px;
        cursor: pointer;
        right: 0;
        bottom: 0;
        &::before {
            font-family: 'icomoon';
            font-size: 20px;
            content: '\f124';
            color: #fff;
            left: 13px;
            top: 11px;
        }
    }
}

//end footer
//start product-page
.product-page__inner {
    display: flex;
    padding-bottom: 110px;
}

.product-page__aside {
    margin-right: 30px;
}

.aside__item {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 32px 32px;
    margin-bottom: 30px;
    width: 270px;
}

.aside__title {
    border-bottom: 1px solid #dde3e8;
    color: $bg;
    font-size: 20px;
    @include f700;
    padding: 25px 0 15px;
}

.category__list {
    padding-top: 10px;
    li {
        display: flex;
        padding: 10px 0;
        justify-content: space-between;
        position: relative;
        padding-left: 20px;
        &::before {
            content: "\f105";
            font-family: icomoon;
            color: $green;
            font-size: 18px;
            position: absolute;
            left: 0;
        }
    }
    a {
        color: $bg;
    }
    span {
        color: #90a4ae;
        margin-left: 10px;
        ;
    }
}

.price-range {
    form {
        padding-top: 20px;
        padding-bottom: 25px;
    }
    button {
        margin-top: 55px;
        padding: 16px 10px;
        text-align: center;
        color: #fff;
        @include f500;
        width: 100%;
        display: block;
        border: none;
        cursor: pointer;
        position: relative;
        background-color: $green;
        &::before {
            content: "\f002";
            font-family: icomoon;
            color: #fff;
            font-size: 15px;
            position: absolute;
            top: 15px;
            left: 60px;
        }
    }
}

.irs-min,
.irs-max {
    display: none;
}

.irs--flat .irs-line {
    background-color: #f2f5f8;
    height: 5px;
}

.irs--flat .irs-handle {
    width: 16px;
    height: 16px;
    border: 4px solid $green;
    background-color: #fff;
    border-radius: 50%;
    top: 19px;
}

.irs--flat .irs-bar {
    background-color: $bg;
    height: 5px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
    display: none;
}

.irs--flat .irs-handle>i:first-child {
    display: none;
}

.irs-from,
.irs-single,
.irs-to {
    top: 45px;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
    color: #78909c;
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    background-color: transparent;
    border-radius: 0;
}

.product-page__aside {
    .product__item {
        background-color: #fff;
        padding-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #dde3e8;
        box-shadow: none;
    }
    .product__item-img {
        min-height: 120px;
    }
    .product__item-content {
        padding: 0;
        min-height: 75px;
        border-bottom: none;
    }
    .product__item-info {
        padding: 0;
        min-height: 0;
    }
    .product__item-title {
        font-size: 16px;
    }
    .product__item-price {
        font-size: 16px;
    }
    .product__item-starnum {
        display: none;
    }
    .ret-star {
        margin-right: 0;
    }
}

.top-sellers__link {
    padding: 16px 10px;
    color: #fff;
    background-color: $green;
    display: block;
    @include f500;
    text-align: center;
}

.aside__product-item {
    .product__item:last-child {
        border: none;
        padding-bottom: 0;
    }
    .product__item:first-child {
        margin-top: 25px;
    }
}

.product-page__content {
    width: 100%;
}

.product-page__filter {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 20px;
    margin-bottom: 30px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 16px;
        outline: none;
        &.active {
            color: $green;
        }
    }
}

button .icon-sort-amount-desc {
    font-size: 18px;
    color: #455a64;
}

button .icon-unsorted {
    font-size: 14px;
    color: #707070;
}

.product-page__filter-sort {
    color: #707070;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.product-page__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

.product-page__content {
    .product__item {
        max-width: 270px;
        transition: all .5s;
        background-color: #fff;
        &-img {
            min-height: 180px;
        }
        .product__item-content {
            padding: 10px 20px;
        }
        .product__item-content {
            font-size: 14px;
        }
        .product__item-info {
            min-height: 65px;
        }
        .ret-star {
            margin-right: 5px;
        }
        .jq-ry-container {
            padding: 0;
        }
    }
}

.pagination {
    &__list li {
        display: inline-block;
        &+li {
            margin-left: 6px;
        }
    }
    a,
    span {
        &.active {
            background-color: #e74c3c;
            color: #fff;
        }
        color: #263238;
        width: 43px;
        height: 38px;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 16px;
        @include f500;
        box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    }
}

.product__item-text {
    display: none;
}

.product__item-price span {
    display: none;
}

.product__item-list {
    display: none;
    .icon-comment-o,
    .icon-heart-o {
        font-size: 12px;
        color: #8bc34a;
        display: inline-block;
        padding-left: 50px;
        position: relative;
        border-left: 1px solid #aeb4bb;
        span {
            @include f500;
            color: $bg;
        }
        &::before {
            color: #8bc34a;
            font-size: 16px;
            position: absolute;
            left: 20px;
            top: 0;
        }
    }
    .icon-comment-o {
        padding-right: 30px;
        &::before {
            top: -2px;
        }
    }
}

.product__item {
    &.list {
        max-width: 100%;
        & .product__item-img {
            width: 240px;
            float: left;
            min-height: 100%;
        }
        .product__item-text {
            display: block;
            color: #70838d;
            font-size: 14px;
            margin-top: 13px;
            margin-bottom: 5px;
        }
        .product__item-price {
            span {
                display: block;
                color: #aeb4bb;
                font-size: 13px;
                margin-top: 34px;
            }
        }
        .product__item-name {
            max-width: 480px;
        }
        .product__item-content {
            padding-top: 23px;
        }
        .product__item-list {
            display: block;
        }
        .product__item-star {
            margin-left: auto;
            margin-right: 30px;
        }
    }
}

//end product-page
@import 'media';